<div class="container">
  <h1>Задания из секции C#</h1>
  <div class="flex-item">
    <h2>Первое задание</h2>
    <p>
      <strong>Описание:</strong> <br />
      // Написать код, который выведет числа от 0 до 127 по порядку. <br />
      // Вместо чисел, кратных 3, выводить текст ‘Green’, <br />
      // вместо чисел, кратных 5 – ‘Money’, <br />
      // вместо кратных и 3, и 5 – ‘GreenMoney’
    </p>
    <div class="task-box">
      <input type="text" name="start" value="0" placeholder="Начало" />
      <input type="text" name="end" value="127" placeholder="Конец" />
      <button id="firstTask_btn">Показать решение</button>
      <div id="firstTask" class="task-box_hidden">

      </div>
    </div>
  </div>

  <div class="flex-item">
    <h2>Третье задание</h2>
    <p>
      <strong>Описание:</strong> <br />
      // Написать метод, который в качестве входных данных принимает массив <br />
      // букв английского алфавита по порядку и возвращает пропущенную букву в <br />
      // массиве.
    </p>
    <div class="task-box">
      <input type="text" name="alphabet" value="abcdefghijklmnopqrstuvwxyz" placeholder="Алфавит" />
      <input type="text" name="letters" value="abcdf" placeholder="Строка на проверку" />
      <button id="thirdTask_btn">Показать решение</button>
      <div id="thirdTask" class="task-box_hidden">

      </div>
    </div>
  </div>

  <div class="flex-item">
    <h2>Четвертое задание задание</h2>
    <p>
      <strong>Описание:</strong> <br />
      // Написать метод, который в качестве входных данных принимает массив <br />
      // букв английского алфавита по порядку и возвращает пропущенную букву в <br />
      // массиве.
    </p>
    <div class="task-box">
      <input type="text" name="firstNums" value="1;2;3;4;5;6;7;8;9;10;14;12" placeholder="Алфавит" />
      <input type="text" name="secondNums" value="1;2;14;4;5;0;7;20;9;10;11;0" placeholder="Строка на проверку" />
      <button id="fourthTask_btn">Показать решение</button>
      <div id="fourthTask" class="task-box_hidden">

      </div>
    </div>
  </div>
</div>